# Python
__pycache__/
*.py[oc]
*.egg-info
build/
dist/
wheels/

# Virtual environments
.venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
.gemini/
